.ddd  {background-color: yellow; color:red; width: 5 px;}
.ddr  {background-color: green; color:pink; width: 9 px;}
.drr  {background-color: black; color:brown; width: 14 px;}
#fantom {color:brown; border-collapse: collapse;}
.tyty {background-color: green; color:pink;}
.trtr {background-color: red; color:black;}
.plpl {background-color: green; color:pink;}
.klkl {background-color: red; color:black;}
.rr {color:red; width: 5 px;}
.er {color:black; width: 10 px;}
